# Dependencies
node_modules/

# Environment variables
.env

# Extra files
extras.txt

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Scripts
scripts/cleanParameters.js

# Sheets
sheet/cleaned_sheet.xlsx
